# This service is meant for systemd systems
# it runs etcd_runner.py from /var/lib/pgsql/governor folder

[Unit]
Description=Governor Start Script
After=syslog.target network.target etcd.target

[Service]
# Type=forking
User=postgres
Group=postgres

Environment=PGDATA=/pg_cluster/pgsql/9.4/data/

ExecStart=/bin/sh /var/lib/pgsql/governor/scripts/governor.sh
ExecStopPost=/usr/pgsql-9.4/bin/pg_ctl stop -D ${PGDATA} -s -m fast

Nice=-5

[Install]
WantedBy=multi-user.target
